/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: 'Raleway', sans-serif;

}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a, span{
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}
.containerBody{
  width: 85%;
  margin: 0 auto;
}
/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
/* empezamos con el diseño del header */
header{
  background: white;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.4rem 0;
}
.menu-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-expander{
  flex-wrap: wrap;
}
.menu-icon{
  display: none;
  padding-top: 0.9rem;
  font-size: 16px;   
  font-weight: 900;
  letter-spacing: 5px;
}
.logo img{
  width: 50px;
  height: 50px;
}
nav ul {
  margin: 0;
  padding:0;
  list-style: none;
}
  nav ul li{
    display: inline-block; 
    
  }
    nav ul li a{
        display: block;
        padding:0.6rem;
        transition: all 0.4s linear;
        font-size: 14px;
        font-weight: bold;
    }
    nav ul li a:hover{
      background: rgba(41, 45, 54, 0.199);
      border: #E95853 1px solid;
      border-radius:7px;
    }
    /* --------------------------terminamos con el diseño del header ----------------------------------*/

/* empezamos con el diseño del main */

main{
  padding-top: 3rem;
  background:rgb(41, 45, 54);
}
/* empieza css de la primera sección */
.secFirst{
  background-image: url(../assets/images/bg-home.jpg);
  background-attachment: inherit;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
  padding-top: 4rem;
  color: white;
  text-align: center;
  padding-bottom: 5.9rem;
}
h1{
  font-weight: bolder;
  font-size: 2.55rem;
  margin-top: 3rem;
}
h2{
  font-size:1.1rem; 
  margin-bottom: 1rem;

}
p{
  font-size: 0.8rem;
  padding-bottom: 3rem;
}
.spanBtn{
  background:rgb(46, 204, 113);
  padding: 0.7rem;
  font-size: 0.8rem;
  color: white;
  cursor: pointer;
}
.spanBtn a{
  color: white;
}
.spanBtn a:hover{
  color: black;
}
/* -------------------------------------------fin-primera sección-------------------------------- */
/* empieza el css de la segunda sección */
.secSecond{
  background: rgb(241, 124, 114);
  color: white;
  padding-top: 4rem;
  padding-bottom: 3rem;
  text-align: center;
}
.h2Sec{
 font-size: 1.65rem;
 letter-spacing: 2px;
 margin-bottom: 2rem;
 font-weight: bold;

}
h4{
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.9px;
  margin-bottom: 4rem;
}
.logoImg img{
  width: 160px;
  height: 160px;
  display: inline;
}
h6{
  margin: 1px;
}
.end{
  margin-bottom:2rem;
  padding-bottom: 1rem;
}
/* -------------------------------------------fin-segunda sección-------------------------------- */
/* empieza la tercera sección*/
 .secThird{
    background: white;
    padding-top: 3rem;
    padding-bottom: 5rem;
    text-align: center;
    align-items: center;
 }
 .secThirdImg img{
    width: 85%;
    height: 85%;
 }
  .secThird h4{
    color: rgb(85, 84, 84);
    font-weight: bold;
  }
  .imgSec{
    padding-top: 3rem;
  }
  .imgThird{
    width: 100%;
    margin-top: 2rem; 
  }
  .logoImgThird img{
    width: 90%;
    height: 30%;
    margin: 0.9rem;
  }
  
   .imgThird span{
     color: #373B47;
     font-weight: bold;
     font-size: 14px;
   }
  
/* -------------------------------------------fin-tercera sección-------------------------------- */
/* empezamos con el footer  */
footer{
  background: rgb(55, 59, 71);
  text-align: center;
  color: white;
  height: 3rem;
  
}
 footer p{
   padding-bottom: 0;
   padding-top: 1rem;
 }
/* ----------------------------fin-de-footer------------------------------------------------- */
/* empezamos con el mediaquery responsive */
@media only screen and (min-width: 400px){
  .imgThird{
    width: 18rem;
    /* margin-left: 10%; */
    display: inline-block;
  }
  .logoImgThird img{
    width: 260px;
    height: 230px;
  }
}
@media only screen and (max-width: 600px){

  .menu-icon, nav ul li, nav ul li a{
    display: block
  }
  .menu-icon{
    cursor: pointer;
  }
  nav{
    width: 100%;
    margin-top: 1rem;
  }
  nav ul{
   display: none;
  }
   nav ul.show{
    display: block;
  }
    nav ul li a{
      padding: 0.5rem 0;
      transition: all 0.4s linear;
    }


}
@media only screen and (min-width: 700px){
  
  .image-content{
    width: 12rem;
    display: inline-block;
    
 }

}
@media only screen and (min-width: 908px){
  
  .image-content{
    width: 18rem;
    display: inline-block;
 }

}
