/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: 'Raleway', sans-serif;

}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a, span{
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}
.containerBody{
  width: 85%;
  margin: 0 auto;
}
/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
/* empezamos con el diseño del header */
header{
  background: white;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.4rem 0;
}
.menu-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-expander{
  flex-wrap: wrap;
}
.menu-icon{
  display: none;
  padding-top: 0.9rem;
  font-size: 16px;   
  font-weight: 900;
  letter-spacing: 5px;
}
.logo img{
  width: 50px;
  height: 50px;
}
nav ul {
  margin: 0;
  padding:0;
  list-style: none;
  

}
  nav ul li{
    display: inline-block; 
    
  }
    nav ul li a{
        display: block;
        padding:0.6rem;
        transition: all 0.4s linear;
        font-size: 14px;
        font-weight: bold;
    }
    nav ul li a:hover{
      background: rgba(41, 45, 54, 0.199);
      border: #E95853 1px solid;
      border-radius:7px;
    }
    /* terminamos con el diseño del header */

/* empezamos con el diseño del main */

main{
  padding-top: 10rem;
  background:yellow;
}
/* emppezamos con el mediaquery responsive */
@media only screen and (max-width: 600px){

  .menu-icon, nav ul li, nav ul li a{
    display: block
  }
  .menu-icon{
    cursor: pointer;
  }
  nav{
    width: 100%;
    margin-top: 1rem;
  }
  nav ul{
   display: none;
  }
   nav ul.show{
    display: block;
  }
    nav ul li a{
      padding: 0.5rem 0;
      transition: all 0.4s linear;
    }
}